/* SCSS Variables */

/*--------------
  Font
  -------------- */
@import 'https://fonts.googleapis.com/css?family=Raleway:300,300i,600';

$base-font: "Raleway", Helvetica, Arial, sans-serif;
$code-font: Menlo, Monaco, monospace;
$code-gist-font: Menlo, Monaco, "Courier New", monospace !important;


/*--------------
  Color
  -------------- */
$base-color: rgba(#073642,0.8);
$base-lighten-color: #2aa198;

$background-color: #fff;
$background-over-color: darken($background-color, 5);

$text-color: #002b36;
$link-color: #2aa198;
$code-color: #859900;
$code-background-color: #fdf6e3;
$table-border-color: #d33682;
$table-background-color: #fdf6e3;
